#
# for Linux
#
makyoh
a.out
core
*.o
*.dep
#
# for Mac
#
/build/
/DerivedData/
xcuserdata
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3
*.moved-aside
*.xcuserstate
*.xccheckout
#
# for Windows
#
.vs/
/makyoh/
/Win32/
/x64/
/packages/
*.com
*.exe
*.msi
*.ncb
*.suo
*.user
*.sdf
*.opensdf
*.opendb
*.userosscache
*.sln.docstates
*.opendb
*.db
*.aps
#
# anothre stuff
#
*~
*.bak
*.tmp
*.swp
*.aps
imgui.ini
/pdf/*
!/pdf/refman.pdf
!/lib/**
.vscode/
Thumbs.db
.DS_Store
